extend /layout
include /mixins/hero_td
include /mixins/hero_td_new
include /mixins/data_table
include /mixins/data_table_header

append head
    meta(property="og:title", content="Mock Ban-Pick: Cheuka's Dota")

block content
  // main captain mode block
  
  // hero slot block
  .row
    // left hero slot block
    .col-md-5

    // left hero slot block end

    //empty
    .col-md-2

    // right hero slot block
    .col-md-5

    // right hero slot block end
 

  // hero slot block end
  
  // main select block

  .row

    // left block
    .col-md-6
      
      // search block
      .row
        
        // hero filter block
        .col-md-5
        
        // hero filter block end

        //empty
        .col-md-2

        // hero search block
        .col-md-5

        // hero search block end
       
      // search block end

      // hero block
      div

        // strength hero block
        .row
          
          // radiant strength hero block
          .col-md-6

          // radiant strength hero block end

          // dire strength hero block
          .col-md-6

          // dire strength hero block end

        // strength hero block end

        // agility hero block
        .row
          // radiant agility hero block
          .col-md-6

          // radiant agility hero block end

          // dire agility hero block
          .col-md-6

          // dire agility hero block end

        // agility hero block end

        // intelligence hero block
        .row

          // radiant intelligence hero block
          .col-md-6

          // radiant intelligence hero block end

          // dire intelligence hero block
          .col-md-6

          // dire intelligence hero block end

        // intelligence hero block end

      // hero block end

    // left block end

    // right block
    .col-md-6
      
      // control block
      div
        
        // team name block
        .row
     
          // left team name block
          .col-md-6

          // left team name block end

          // right team name block
          .col-md-6

          // right team name block end

        // team name block end

        // main status block
        .row

        // main status block end

        // time block
        .row
          
          //left time block
          .col-md-6

          //left time block end

          //right time block
          .col-md-6

          //right time block end

        // time block end

        // ban pick block
        .row

          // left ban pick block
          .col-md-6
           
            .row

              // left ban block
              .col-md-4

              // left ban block end

              // left pick block
              .col-md-8

              // left pick block end

          // left ban pick block end

          // right ban pick block
          .col-md-6
           
            .row

              // right ban block
              .col-md-4

              // right ban block end

              // right pick block
              .col-md-8

              // right pick block end

          // right ban pick block end

        // ban pick block end
      
      // control block end

      // chat block
      .row

      // chat block end

    // right block end

  // main select block end

  // main captain mode block end

  // log block 
  .row


  // log block end

 

  append footer_assets
  script(type="text/javascript", src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5452f1e51eac0fc5", async="async")
