extend /layout
include /mixins/hero_td
include /mixins/data_table
include /mixins/data_table_header
include /mixins/picks_bans

block head
  //link(rel="import" href="/public/paper-fab-menu.html")
  link(rel='stylesheet', href="/public/css/yasp_home.css")
   

if user
  block page_content
    #top.header.alt.vert
      h2 Control Center: All Private Matches
      h3 控制中心：所有私有比赛
      img.img-responsive(src='../public/images/curlycue.png', style='margin: auto;')
      br
      // p JSON: #{match_json}
      div#show_matches
        if !match_list
          h3 No matches available. Please go to Upload page to upload some
        else
          .row
            .col-md-12
              +data_table({id:"index", summable:false, heading: "Matches"})
               //
                 tr
                 th Match ID
                 th Overviews
                 th Details
                 th Actions 
               tbody
                 each obj in match_list
                   tr
                     td.col-md-1
                       a(href="/matches/"+ obj.match_id) Match ID: #{obj.match_id}
                     td.col-md-10 
                     td.col-md-1
                       a(href="/matches/delete/" + obj.match_id) Delete
                   
                   if obj.upload
                     if obj.upload.picks_bans                         
                       +picks_bans_table(obj.upload.picks_bans)
                   else
                     h3 This match has no Picks/Bans
                       
else
  p Please log out and retry


    
append footer_assets
  script(src="/public/js/home/scroll.js")
  script(src="/public/js/home/animatedNavbar.js")
  script(src="/public/js/home/polymerFabs.js")
  //script(src="/public/js/user/center.js")

