extend /layout
include /mixins/hero_td
include /mixins/data_table
include /mixins/data_table_header


block head
  //link(rel="import" href="/public/paper-fab-menu.html")
  link(rel='stylesheet', href="/public/css/yasp_home.css")
   

if user
  block page_content
    #top.header.alt.vert
      h2 Control Center: All Private Matches
      h3 控制中心：所有私有比赛
      img.img-responsive(src='../public/images/curlycue.png', style='margin: auto;')
      br
      div#show_matches
        h3 No matches available. Please go to Upload page to upload some
              

else
  p Please log out and retry


    
append footer_assets
  script(src="/public/js/home/scroll.js")
  script(src="/public/js/home/animatedNavbar.js")
  script(src="/public/js/home/polymerFabs.js")
  script.
  //  var graphData = !{JSON.stringify(match.graphData)};
  script(type='text/javascript').
    document.form1.submit() = function(){
     if(file_ul.childNodes.length() == 0){           
       alert('Please select files to upload');
         return false
     }
        return true;
    }
  // generateCharts(graphData);
