extend /layout
include /mixins/hero_td
include /mixins/data_table
include /mixins/data_table_header


block head
  //link(rel="import" href="/public/paper-fab-menu.html")
  link(rel='stylesheet', href="/public/css/yasp_home.css")
   

if user
  block page_content
    #top.header.alt.vert
      h2 Control Center: All Private Matches
      h3 控制中心：所有私有比赛
      img.img-responsive(src='../public/images/curlycue.png', style='margin: auto;')
      br
      // p JSON: #{match_json}
      div#show_matches
        if !match_list.matches
          h3 No matches available. Please go to Upload page to upload some
        else
          .row
            .col-md-12
              table#match_tables(style="margin: auto;") 
                title Matches
                thead
                  td Match ID
                  td Overviews
                  td Details
                  td Actions
                tbody
                each obj, num in match_list.matches
                  tr.match_entry
                    td
                      a(href="/matches/"+ obj.match_id) Match ID: #{obj.match_id}
                    td Loading Overviews
                    td Loading Details
                    td
                      a(href="/matches/delete/" + obj.match_id) Delete this Match

else
  p Please log out and retry


    
append footer_assets
  script(src="/public/js/home/scroll.js")
  script(src="/public/js/home/animatedNavbar.js")
  script(src="/public/js/home/polymerFabs.js")
  script(src="/public/js/user/center.js")

